# Core functionality - changes here should be rare!
/src/app.py                   @xu-6257
/src/backend/database.py      @xu-6257
/src/backend/routers/auth.py  @xu-6257

# The frontend will need refactored soon to be more object oriented.
/src/static/   @xu-6257
